.cardContainer {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: 2rem 0;
}

.projectTitle {
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
}

.projectDesc {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
}

.stackContainer {
  display: flex;
  gap: 2rem;
  padding: .3rem 0;
  flex-wrap: wrap;
}

.stackContainer img {
  width: 40px;
  height: 40px;
  
}

.stackItem {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 480px) {

  .cardContainer {
    height: fit-content;
    width: fit-content;
 }

  .projectTitle {
    font-size: 1.6rem;
  }

  .projectDesc {
    font-size: 1.1rem;
  }

  .stackContainer {
    flex-wrap: wrap;
  }
}