:root {
  --background: #414535;
  --foreground: #F2E3BC;
  --max-content-width: 1280px;
  --page-padding: 2rem;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/MontserratItalic.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/Yanone.ttf");
}

html,
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 0;
}