:root {
  --background: #eff4e7;
  --foreground: #565c4c;
  --max-content-width: 1280px;
  --page-padding: 2rem;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/MontserratItalic.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/Yanone.ttf");
}

html,
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 8rem;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 0;
}

.title {
  font-family: "Yanone";
  font-size: 6rem;
  padding-top: 7rem;
}

.bio {
  padding: .5rem;
  font-size: 1.2rem;
  max-width: 800px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
}

.about-me-title {
  display: flex;
  justify-content: center;
  font-family: "Yanone";
  font-size: 4rem;
}

.about-me-text {
  display: flex;
  padding: 4rem 0;
  font-size: 1.2rem;
  line-height: 1.4;
}